!!! 5

%html

  %head
    %title API Documentation
    %link{ :rel => "stylesheet", :href => "/docs/docs.css" }

  %body

    #content

      %h1
        %a{ :href => '/docs' } API Documentation

      = yield
